# Essential build tools
pip==25.2
setuptools==80.9.0
wheel==0.45.1

# Core packages
numpy==2.3.3
pandas==2.3.3
scipy==1.16.2
scikit-learn==1.7.2
matplotlib==3.10.6

# TensorFlow & related
tensorflow==2.20.0
keras==3.11.3
opt_einsum==3.4.0
ml_dtypes==0.5.3
grpcio==1.75.0

psutil==7.1.0

# Flask and API
Flask==3.1.2
Flask-Cors==6.0.1
Flask-JWT-Extended==4.7.1
requests==2.32.5

# Database & connectors
mysql-connector-python==9.4.0
mysqlclient==2.3.0
psycopg2-binary==2.9.10
pymongo==4.3.3
PyMySQL==1.1.2
SQLAlchemy==2.0.45

# Utilities
python-dotenv==1.0.0
pytz==2025.2
python-dateutil==2.9.0
tzdata==2025.1
joblib==1.5.2
protobuf==5.4.0
grpcio-status==1.71.0
setuptools-scm==7.1.0
rich==14.3.0
tqdm==4.68.0
termcolor==3.1.0

# Jupyter (optional)
notebook==7.5.0
ipykernel==6.30.0
jupyterlab==4.4.4

