@import "tailwindcss";

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.suse-mono {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

